<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="/standings/39" routerLinkActive="active" class="nav-link">England</a></li>
    <li class="nav-item"><a routerLink="/standings/140" routerLinkActive="active" class="nav-link">Spain</a></li>
    <li class="nav-item"><a routerLink="/standings/78" routerLinkActive="active" class="nav-link">Germany</a></li>
    <li class="nav-item"><a routerLink="/standings/61" routerLinkActive="active" class="nav-link">France</a></li>
    <li class="nav-item"><a routerLink="/standings/135" routerLinkActive="active" class="nav-link">Italy</a></li>
  </ul>
</header>
